<div class="management-menu">
  <div class="management-menu-card" id="ponies" routerLink="ponies">
    <h1 class="management-menu-card-title">Ponies</h1>
    <img src="http://i0.kym-cdn.com/photos/images/original/000/445/305/b95.png">
  </div>
  <div class="management-menu-card" id="questions" routerLink="questions">
    <h1 class="management-menu-card-title">Questions</h1>
    <img src="https://pre00.deviantart.net/a32f/th/pre/f/2011/278/3/1/question_makrs_cutie_mark_by_rildraw-d4byewl.png">
  </div>
</div>